.AboutSection {
  background: white;	
  text-align: center;
  padding: $unit*16 $unit*4;

  @include device-xs() {
    padding: $unit*12 $unit*2;
  }
}

.AboutSection-fixedHeader {
  background: white;

  a {
    color: #333;
  }
}

.AboutSection-content {
  overflow: hidden;
  max-width: 1024px;
  margin: 0 auto;
}

.AboutSection-title {
  font-size: 32px;
  white-space: pre-line;

  @include device-xs() {
    font-size: 26px;
    white-space: normal;
  }
}

.AboutSection-cardContainer {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin: $unit*2 $unit*-12 0;
}

.AboutSection-card {
  width: 320px;
  margin: $unit*2 $unit*12;
}

.AboutSection-cardImg {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  width: 243px;
  height: 292px;
}

.AboutSection-cardTitle {
  font-size: 26px;
  font-weight: 700;

  @include device-xs() {
    font-size: 22px;
  }
}

.AboutSection-cardDescription {
  margin-top: $unit*2;
  font-size: 20px;
  text-align: center;

  @include device-xs() {
    font-size: 16px;
  }
}