.ProjectGalleryItem {
  display: block;
  color: white;
  transition: transform 1s;
  transform: translate3d(0,30%,0);
  text-decoration: none;
  outline: none;
  pointer-events: none;

  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }

  &.appear {
    transform: translate3d(0,0,0);
  }
}

.ProjectGalleryItem-itemImageWrapper {
  overflow: hidden;
  transition: transform 1s;

  .ProjectGalleryItem:hover & {
    transition: transform 0.4s;
    transform: scale3d(0.95,0.95,0.95);
  }
}

.ProjectGalleryItem-itemImage {
  width: 100%;
  transition: transform 1s;
  transform: scale3d(1.2,1.2,1.2);
  pointer-events: auto;

  .ProjectGalleryItem:hover & {
    transition: transform 0.4s !important;
    transform: scale3d(1.15,1.15,1.15) !important;
  }
  .ProjectGalleryItem.appear & {
    transform: scale3d(1,1,1);
  }
}

.ProjectGalleryItem-itemLabels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProjectGalleryItem-itemTitle {
  display: inline-block;
  margin-top: $unit*2;
  font-size: 24px;
  text-align: center;
  pointer-events: auto;
}

.ProjectGalleryItem-itemSubtitle {
  display: inline-block;
  opacity: 0.6;
  font-size: 16px;
  text-align: center;
  pointer-events: auto;
}
