.ProjectsPage {
	
}

.ProjectsPage-contact {
  background: rgba(249, 249, 249, 0.9);
}

.ProjectsPage-background {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url("./images/ProjectsGridSection-bg.jpg");
  background-size: cover;
}