@mixin styleLink($color) {
  color: $color;
  text-decoration: none;
  outline: none;
  transition: opacity 0.1s;

  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }
  &:hover {
    opacity: 0.65;
  }
}

@mixin styleBtnLink($color, $background-color, $hover-background-color) {
  display: inline-block;
  vertical-align: middle;
  padding: $unit $unit*2 $unit $unit*3;
  color: $color;
  background-color: $background-color;
  text-decoration: none;
  outline: none;
  transition: background-color 0.15s;

  span {
    vertical-align: middle;
  }

  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }
  &:hover {
    background-color: $hover-background-color;
  }
  &:hover::after {
    transform: translate3d(60%,0,0);
  }
  &::after {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 9px;
    height: 14px;
    margin-left: $unit*2;
    background: url('./icons/right-arrow.svg');
    background-size: 9px 14px;
    background-repeat: no-repeat;
    transition: transform 0.15s;
  }
}

@mixin styleOpenNewLink($color, $background-color, $hover-background-color) {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: $unit $unit*3;
  color: $color;
  background-color: $background-color;
  text-decoration: none;
  outline: none;
  transition: background-color 0.15s;
  font-weight: 400;

  span {
    vertical-align: middle;
  }

  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }
  &:hover {
    background-color: $hover-background-color;
  }
  &:hover::before {
    transform: translate3d(20%,-20%,0);
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: url('./icons/new-window-2.svg');
    background-size: 10px 10px;
    background-repeat: no-repeat;
    top: 18px;
    right: $unit*3;
    transition: transform 0.15s;
  }
  &::after {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 18px;
    height: 15px;
    top: 1px;
    margin-left: $unit;
    background: url('./icons/new-window-1.svg');
    background-size: 18px 15px;
    background-repeat: no-repeat;
  }
}
